--
-- PostgreSQL database dump
--

\restrict huQJ6OrTf3L2RDHF51DoZH1rffvgl33YhKb9pSMWSAFQPgZmLuZS2ST9cdM0Yfj

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: allergen; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.allergen (
    id uuid NOT NULL,
    code character varying(255) NOT NULL,
    label character varying(255) NOT NULL
);


ALTER TABLE public.allergen OWNER TO dev;

--
-- Name: cooking_method; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.cooking_method (
    id uuid NOT NULL,
    code character varying(255) NOT NULL,
    label character varying(255) NOT NULL
);


ALTER TABLE public.cooking_method OWNER TO dev;

--
-- Name: cuisine_type; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.cuisine_type (
    id uuid NOT NULL,
    code character varying(255) NOT NULL,
    label character varying(255) NOT NULL
);


ALTER TABLE public.cuisine_type OWNER TO dev;

--
-- Name: diet_type; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.diet_type (
    id uuid NOT NULL,
    code character varying(255) NOT NULL,
    label character varying(255) NOT NULL
);


ALTER TABLE public.diet_type OWNER TO dev;

--
-- Name: ingredient; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.ingredient (
    id uuid NOT NULL,
    aisle character varying(50),
    allergens character varying(255)[],
    category character varying(50) NOT NULL,
    common_units character varying(255)[],
    created_at timestamp(6) with time zone NOT NULL,
    image_url character varying(500),
    is_active boolean NOT NULL,
    name character varying(200) NOT NULL,
    name_plural character varying(200),
    substitutes bigint[],
    updated_at timestamp(6) with time zone NOT NULL,
    CONSTRAINT ingredient_aisle_check CHECK (((aisle)::text = ANY ((ARRAY['FRUITS_LEGUMES'::character varying, 'BOUCHERIE'::character varying, 'POISSONNERIE'::character varying, 'EPICERIE_SALEE'::character varying, 'EPICERIE_SUCREE'::character varying, 'FRAIS'::character varying, 'SURGELES'::character varying, 'CONDIMENTS'::character varying, 'AUTRE'::character varying])::text[]))),
    CONSTRAINT ingredient_category_check CHECK (((category)::text = ANY ((ARRAY['VEGETABLE'::character varying, 'FRUIT'::character varying, 'MEAT'::character varying, 'FISH'::character varying, 'SEAFOOD'::character varying, 'DAIRY'::character varying, 'GRAIN'::character varying, 'SPICE'::character varying, 'CONDIMENT'::character varying, 'HERB'::character varying, 'OIL'::character varying, 'SWEETENER'::character varying, 'NUT'::character varying, 'LEGUME'::character varying])::text[])))
);


ALTER TABLE public.ingredient OWNER TO dev;

--
-- Name: ingredient_diet_type; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.ingredient_diet_type (
    ingredient_id uuid NOT NULL,
    diet_type_id uuid NOT NULL
);


ALTER TABLE public.ingredient_diet_type OWNER TO dev;

--
-- Name: planned_meals; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.planned_meals (
    id uuid NOT NULL,
    completed_at timestamp(6) with time zone,
    created_at timestamp(6) with time zone NOT NULL,
    meal_date date NOT NULL,
    meal_type character varying(20) NOT NULL,
    notes text,
    servings smallint NOT NULL,
    status character varying(20) NOT NULL,
    custom_recipe_id uuid,
    recipe_id uuid,
    user_id uuid NOT NULL,
    CONSTRAINT planned_meals_meal_type_check CHECK (((meal_type)::text = ANY ((ARRAY['BREAKFAST'::character varying, 'LUNCH'::character varying, 'DINNER'::character varying, 'SNACK'::character varying])::text[]))),
    CONSTRAINT planned_meals_status_check CHECK (((status)::text = ANY ((ARRAY['PLANNED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'SKIPPED'::character varying])::text[])))
);


ALTER TABLE public.planned_meals OWNER TO dev;

--
-- Name: recipe; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.recipe (
    id uuid NOT NULL,
    cook_time_minutes smallint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    description oid,
    difficulty character varying(255),
    image_url character varying(255),
    instructions jsonb NOT NULL,
    is_public boolean NOT NULL,
    name character varying(255) NOT NULL,
    prep_time_minutes smallint NOT NULL,
    rest_time_minutes smallint NOT NULL,
    servings smallint,
    tags text[],
    total_time_minutes smallint GENERATED ALWAYS AS (((prep_time_minutes + cook_time_minutes) + rest_time_minutes)) STORED,
    updated_at timestamp(6) with time zone NOT NULL,
    created_by uuid,
    CONSTRAINT recipe_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['EASY'::character varying, 'MEDIUM'::character varying, 'HARD'::character varying])::text[])))
);


ALTER TABLE public.recipe OWNER TO dev;

--
-- Name: recipe_ingredients; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.recipe_ingredients (
    id uuid NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    display_order smallint NOT NULL,
    is_optional boolean NOT NULL,
    preparation_note character varying(200),
    quantity numeric(10,2) NOT NULL,
    unit character varying(20) NOT NULL,
    ingredient_id uuid NOT NULL,
    recipe_id uuid NOT NULL,
    CONSTRAINT recipe_ingredients_unit_check CHECK (((unit)::text = ANY ((ARRAY['G'::character varying, 'KG'::character varying, 'ML'::character varying, 'CL'::character varying, 'L'::character varying, 'CAS'::character varying, 'CAC'::character varying, 'PIECE'::character varying, 'PINCEE'::character varying, 'TRANCHE'::character varying, 'GOUSSE'::character varying, 'BOTTE'::character varying, 'SACHET'::character varying])::text[])))
);


ALTER TABLE public.recipe_ingredients OWNER TO dev;

--
-- Name: recipe_utensils; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.recipe_utensils (
    id uuid NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    necessity_level character varying(20) NOT NULL,
    usage_note character varying(200),
    recipe_id uuid NOT NULL,
    utensil_id uuid NOT NULL,
    CONSTRAINT recipe_utensils_necessity_level_check CHECK (((necessity_level)::text = ANY ((ARRAY['ESSENTIAL'::character varying, 'RECOMMENDED'::character varying, 'OPTIONAL'::character varying])::text[])))
);


ALTER TABLE public.recipe_utensils OWNER TO dev;

--
-- Name: shopping_lists; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.shopping_lists (
    id uuid NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    end_date date NOT NULL,
    items jsonb NOT NULL,
    start_date date NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.shopping_lists OWNER TO dev;

--
-- Name: user_allergen; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_allergen (
    user_id uuid NOT NULL,
    allergen_id uuid NOT NULL
);


ALTER TABLE public.user_allergen OWNER TO dev;

--
-- Name: user_cooking_methods; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_cooking_methods (
    user_id uuid NOT NULL,
    cooking_method_id uuid NOT NULL
);


ALTER TABLE public.user_cooking_methods OWNER TO dev;

--
-- Name: user_cuisine_type; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_cuisine_type (
    user_id uuid NOT NULL,
    cuisine_type_id uuid NOT NULL
);


ALTER TABLE public.user_cuisine_type OWNER TO dev;

--
-- Name: user_custom_recipe_ingredients; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_custom_recipe_ingredients (
    id uuid NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    display_order smallint NOT NULL,
    is_optional boolean NOT NULL,
    preparation_note character varying(200),
    quantity numeric(10,2) NOT NULL,
    unit character varying(20) NOT NULL,
    custom_recipe_id uuid NOT NULL,
    ingredient_id uuid NOT NULL
);


ALTER TABLE public.user_custom_recipe_ingredients OWNER TO dev;

--
-- Name: user_custom_recipe_utensils; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_custom_recipe_utensils (
    id uuid NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    necessity_level character varying(20) NOT NULL,
    usage_note character varying(200),
    custom_recipe_id uuid NOT NULL,
    utensil_id uuid NOT NULL,
    CONSTRAINT user_custom_recipe_utensils_necessity_level_check CHECK (((necessity_level)::text = ANY ((ARRAY['ESSENTIAL'::character varying, 'RECOMMENDED'::character varying, 'OPTIONAL'::character varying])::text[])))
);


ALTER TABLE public.user_custom_recipe_utensils OWNER TO dev;

--
-- Name: user_custom_recipes; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_custom_recipes (
    id uuid NOT NULL,
    cook_time_minutes smallint,
    created_at timestamp(6) with time zone NOT NULL,
    description text,
    difficulty character varying(20),
    folder character varying(100),
    image_url character varying(500),
    instructions jsonb NOT NULL,
    is_modified boolean NOT NULL,
    is_private boolean NOT NULL,
    modifications_summary text,
    name character varying(200) NOT NULL,
    notes text,
    prep_time_minutes smallint NOT NULL,
    rest_time_minutes smallint,
    servings smallint NOT NULL,
    tags text[],
    total_time_minutes smallint GENERATED ALWAYS AS (((prep_time_minutes + cook_time_minutes) + rest_time_minutes)) STORED,
    updated_at timestamp(6) with time zone NOT NULL,
    base_recipe_id uuid,
    user_id uuid NOT NULL,
    CONSTRAINT user_custom_recipes_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['EASY'::character varying, 'MEDIUM'::character varying, 'HARD'::character varying])::text[])))
);


ALTER TABLE public.user_custom_recipes OWNER TO dev;

--
-- Name: user_diet_type; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_diet_type (
    user_id uuid NOT NULL,
    diet_type_id uuid NOT NULL
);


ALTER TABLE public.user_diet_type OWNER TO dev;

--
-- Name: user_disliked_ingredient; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_disliked_ingredient (
    user_id uuid NOT NULL,
    ingredient_id uuid NOT NULL
);


ALTER TABLE public.user_disliked_ingredient OWNER TO dev;

--
-- Name: user_favorite_ingredient; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_favorite_ingredient (
    user_id uuid NOT NULL,
    ingredient_id uuid NOT NULL
);


ALTER TABLE public.user_favorite_ingredient OWNER TO dev;

--
-- Name: user_preference; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_preference (
    user_id uuid NOT NULL,
    batch_portion_target integer NOT NULL,
    prefer_seasonal boolean NOT NULL,
    weekly_budget_euros numeric(38,2),
    avoid_alcohol boolean,
    avoid_gluten boolean,
    avoid_lactose boolean,
    avoid_pork boolean,
    batch_cooking_enabled boolean,
    cooking_skill_level character varying(255),
    created_at timestamp(6) with time zone NOT NULL,
    max_cook_time_minutes integer,
    max_prep_time_minutes integer,
    prefer_local boolean NOT NULL,
    prefer_organic boolean NOT NULL,
    preferred_batch_days character varying(255)[],
    updated_at timestamp(6) with time zone NOT NULL,
    CONSTRAINT user_preference_cooking_skill_level_check CHECK (((cooking_skill_level)::text = ANY ((ARRAY['BEGINNER'::character varying, 'INTERMEDIATE'::character varying, 'ADVANCED'::character varying, 'EXPERT'::character varying])::text[])))
);


ALTER TABLE public.user_preference OWNER TO dev;

--
-- Name: user_rating; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.user_rating (
    id uuid NOT NULL,
    comment text,
    created_at timestamp(6) with time zone NOT NULL,
    rating smallint NOT NULL,
    updated_at timestamp(6) with time zone,
    recipe_id uuid NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.user_rating OWNER TO dev;

--
-- Name: users; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    avatar_url character varying(255),
    created_at timestamp(6) with time zone NOT NULL,
    email character varying(255) NOT NULL,
    is_active boolean,
    password_hash character varying(255) NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    username character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO dev;

--
-- Name: utensils; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.utensils (
    id uuid NOT NULL,
    category character varying(255),
    description character varying(255),
    image_url character varying(255),
    is_active boolean NOT NULL,
    name character varying(255) NOT NULL,
    necessity_level character varying(255),
    CONSTRAINT utensils_category_check CHECK (((category)::text = ANY ((ARRAY['COOKWARE'::character varying, 'CUTLERY'::character varying, 'BAKEWARE'::character varying, 'PREPARATION'::character varying, 'SMALL_APPLIANCES'::character varying, 'MEASURING'::character varying, 'STORAGE'::character varying, 'SERVING'::character varying, 'SPECIALTY'::character varying])::text[]))),
    CONSTRAINT utensils_necessity_level_check CHECK (((necessity_level)::text = ANY ((ARRAY['ESSENTIAL'::character varying, 'RECOMMENDED'::character varying, 'OPTIONAL'::character varying])::text[])))
);


ALTER TABLE public.utensils OWNER TO dev;

--
-- Data for Name: allergen; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.allergen (id, code, label) FROM stdin;
\.


--
-- Data for Name: cooking_method; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.cooking_method (id, code, label) FROM stdin;
\.


--
-- Data for Name: cuisine_type; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.cuisine_type (id, code, label) FROM stdin;
\.


--
-- Data for Name: diet_type; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.diet_type (id, code, label) FROM stdin;
\.


--
-- Data for Name: ingredient; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.ingredient (id, aisle, allergens, category, common_units, created_at, image_url, is_active, name, name_plural, substitutes, updated_at) FROM stdin;
\.


--
-- Data for Name: ingredient_diet_type; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.ingredient_diet_type (ingredient_id, diet_type_id) FROM stdin;
\.


--
-- Data for Name: planned_meals; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.planned_meals (id, completed_at, created_at, meal_date, meal_type, notes, servings, status, custom_recipe_id, recipe_id, user_id) FROM stdin;
\.


--
-- Data for Name: recipe; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.recipe (id, cook_time_minutes, created_at, description, difficulty, image_url, instructions, is_public, name, prep_time_minutes, rest_time_minutes, servings, tags, updated_at, created_by) FROM stdin;
\.


--
-- Data for Name: recipe_ingredients; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.recipe_ingredients (id, created_at, display_order, is_optional, preparation_note, quantity, unit, ingredient_id, recipe_id) FROM stdin;
\.


--
-- Data for Name: recipe_utensils; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.recipe_utensils (id, created_at, necessity_level, usage_note, recipe_id, utensil_id) FROM stdin;
\.


--
-- Data for Name: shopping_lists; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.shopping_lists (id, created_at, end_date, items, start_date, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: user_allergen; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_allergen (user_id, allergen_id) FROM stdin;
\.


--
-- Data for Name: user_cooking_methods; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_cooking_methods (user_id, cooking_method_id) FROM stdin;
\.


--
-- Data for Name: user_cuisine_type; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_cuisine_type (user_id, cuisine_type_id) FROM stdin;
\.


--
-- Data for Name: user_custom_recipe_ingredients; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_custom_recipe_ingredients (id, created_at, display_order, is_optional, preparation_note, quantity, unit, custom_recipe_id, ingredient_id) FROM stdin;
\.


--
-- Data for Name: user_custom_recipe_utensils; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_custom_recipe_utensils (id, created_at, necessity_level, usage_note, custom_recipe_id, utensil_id) FROM stdin;
\.


--
-- Data for Name: user_custom_recipes; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_custom_recipes (id, cook_time_minutes, created_at, description, difficulty, folder, image_url, instructions, is_modified, is_private, modifications_summary, name, notes, prep_time_minutes, rest_time_minutes, servings, tags, updated_at, base_recipe_id, user_id) FROM stdin;
\.


--
-- Data for Name: user_diet_type; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_diet_type (user_id, diet_type_id) FROM stdin;
\.


--
-- Data for Name: user_disliked_ingredient; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_disliked_ingredient (user_id, ingredient_id) FROM stdin;
\.


--
-- Data for Name: user_favorite_ingredient; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_favorite_ingredient (user_id, ingredient_id) FROM stdin;
\.


--
-- Data for Name: user_preference; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_preference (user_id, batch_portion_target, prefer_seasonal, weekly_budget_euros, avoid_alcohol, avoid_gluten, avoid_lactose, avoid_pork, batch_cooking_enabled, cooking_skill_level, created_at, max_cook_time_minutes, max_prep_time_minutes, prefer_local, prefer_organic, preferred_batch_days, updated_at) FROM stdin;
\.


--
-- Data for Name: user_rating; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.user_rating (id, comment, created_at, rating, updated_at, recipe_id, user_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.users (id, avatar_url, created_at, email, is_active, password_hash, updated_at, username) FROM stdin;
\.


--
-- Data for Name: utensils; Type: TABLE DATA; Schema: public; Owner: dev
--

COPY public.utensils (id, category, description, image_url, is_active, name, necessity_level) FROM stdin;
\.


--
-- Name: allergen allergen_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.allergen
    ADD CONSTRAINT allergen_pkey PRIMARY KEY (id);


--
-- Name: cooking_method cooking_method_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cooking_method
    ADD CONSTRAINT cooking_method_pkey PRIMARY KEY (id);


--
-- Name: cuisine_type cuisine_type_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cuisine_type
    ADD CONSTRAINT cuisine_type_pkey PRIMARY KEY (id);


--
-- Name: diet_type diet_type_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.diet_type
    ADD CONSTRAINT diet_type_pkey PRIMARY KEY (id);


--
-- Name: ingredient ingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.ingredient
    ADD CONSTRAINT ingredient_pkey PRIMARY KEY (id);


--
-- Name: planned_meals planned_meals_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.planned_meals
    ADD CONSTRAINT planned_meals_pkey PRIMARY KEY (id);


--
-- Name: recipe_ingredients recipe_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT recipe_ingredients_pkey PRIMARY KEY (id);


--
-- Name: recipe recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe
    ADD CONSTRAINT recipe_pkey PRIMARY KEY (id);


--
-- Name: recipe_utensils recipe_utensils_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_utensils
    ADD CONSTRAINT recipe_utensils_pkey PRIMARY KEY (id);


--
-- Name: shopping_lists shopping_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.shopping_lists
    ADD CONSTRAINT shopping_lists_pkey PRIMARY KEY (id);


--
-- Name: diet_type uk3iaxujjn1c1bjisdbj1xx2snh; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.diet_type
    ADD CONSTRAINT uk3iaxujjn1c1bjisdbj1xx2snh UNIQUE (code);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: cuisine_type uk6fa3isr4u34k965iiaheq2f8n; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cuisine_type
    ADD CONSTRAINT uk6fa3isr4u34k965iiaheq2f8n UNIQUE (code);


--
-- Name: utensils uk830hkl139m6ailknn84385hct; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.utensils
    ADD CONSTRAINT uk830hkl139m6ailknn84385hct UNIQUE (name);


--
-- Name: cooking_method uk8v90fn6jc7wfw8xt7lckj851n; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cooking_method
    ADD CONSTRAINT uk8v90fn6jc7wfw8xt7lckj851n UNIQUE (code);


--
-- Name: ingredient ukbcuaj97y3iu3t2vj26jg6hijj; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.ingredient
    ADD CONSTRAINT ukbcuaj97y3iu3t2vj26jg6hijj UNIQUE (name);


--
-- Name: diet_type ukhwd3myxosg4vi9r8f78cqmgc5; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.diet_type
    ADD CONSTRAINT ukhwd3myxosg4vi9r8f78cqmgc5 UNIQUE (label);


--
-- Name: cooking_method ukjmuoqem5clnm5pcekyt9itgi6; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cooking_method
    ADD CONSTRAINT ukjmuoqem5clnm5pcekyt9itgi6 UNIQUE (label);


--
-- Name: allergen ukl551xnsbnicwy5w4konqanmfn; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.allergen
    ADD CONSTRAINT ukl551xnsbnicwy5w4konqanmfn UNIQUE (label);


--
-- Name: cuisine_type ukm8pakb2r11yqygqla5u8hed65; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.cuisine_type
    ADD CONSTRAINT ukm8pakb2r11yqygqla5u8hed65 UNIQUE (label);


--
-- Name: allergen uko4x9rr5t2d91a63fu30v3tsbh; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.allergen
    ADD CONSTRAINT uko4x9rr5t2d91a63fu30v3tsbh UNIQUE (code);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: recipe ukrm1mlratj8yf3e1yxwk156x4p; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe
    ADD CONSTRAINT ukrm1mlratj8yf3e1yxwk156x4p UNIQUE (name);


--
-- Name: user_custom_recipe_ingredients unique_custom_recipe_ingredient; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_ingredients
    ADD CONSTRAINT unique_custom_recipe_ingredient UNIQUE (custom_recipe_id, ingredient_id);


--
-- Name: user_custom_recipe_utensils unique_custom_recipe_utensil; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_utensils
    ADD CONSTRAINT unique_custom_recipe_utensil UNIQUE (custom_recipe_id, utensil_id);


--
-- Name: recipe_ingredients unique_recipe_ingredient; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT unique_recipe_ingredient UNIQUE (recipe_id, ingredient_id);


--
-- Name: recipe_utensils unique_recipe_utensil; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_utensils
    ADD CONSTRAINT unique_recipe_utensil UNIQUE (recipe_id, utensil_id);


--
-- Name: shopping_lists unique_user_date_range; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.shopping_lists
    ADD CONSTRAINT unique_user_date_range UNIQUE (user_id, start_date, end_date);


--
-- Name: user_custom_recipes unique_user_recipe_name; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipes
    ADD CONSTRAINT unique_user_recipe_name UNIQUE (user_id, name);


--
-- Name: user_rating unique_user_recipe_rating; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_rating
    ADD CONSTRAINT unique_user_recipe_rating UNIQUE (user_id, recipe_id);


--
-- Name: user_allergen user_allergen_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_allergen
    ADD CONSTRAINT user_allergen_pkey PRIMARY KEY (user_id, allergen_id);


--
-- Name: user_cooking_methods user_cooking_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_cooking_methods
    ADD CONSTRAINT user_cooking_methods_pkey PRIMARY KEY (user_id, cooking_method_id);


--
-- Name: user_cuisine_type user_cuisine_type_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_cuisine_type
    ADD CONSTRAINT user_cuisine_type_pkey PRIMARY KEY (user_id, cuisine_type_id);


--
-- Name: user_custom_recipe_ingredients user_custom_recipe_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_ingredients
    ADD CONSTRAINT user_custom_recipe_ingredients_pkey PRIMARY KEY (id);


--
-- Name: user_custom_recipe_utensils user_custom_recipe_utensils_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_utensils
    ADD CONSTRAINT user_custom_recipe_utensils_pkey PRIMARY KEY (id);


--
-- Name: user_custom_recipes user_custom_recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipes
    ADD CONSTRAINT user_custom_recipes_pkey PRIMARY KEY (id);


--
-- Name: user_diet_type user_diet_type_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_diet_type
    ADD CONSTRAINT user_diet_type_pkey PRIMARY KEY (user_id, diet_type_id);


--
-- Name: user_disliked_ingredient user_disliked_ingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_disliked_ingredient
    ADD CONSTRAINT user_disliked_ingredient_pkey PRIMARY KEY (user_id, ingredient_id);


--
-- Name: user_favorite_ingredient user_favorite_ingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_favorite_ingredient
    ADD CONSTRAINT user_favorite_ingredient_pkey PRIMARY KEY (user_id, ingredient_id);


--
-- Name: user_preference user_preference_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_preference
    ADD CONSTRAINT user_preference_pkey PRIMARY KEY (user_id);


--
-- Name: user_rating user_rating_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_rating
    ADD CONSTRAINT user_rating_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: utensils utensils_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.utensils
    ADD CONSTRAINT utensils_pkey PRIMARY KEY (id);


--
-- Name: idx_custom_recipe_ingredients_ingredient; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipe_ingredients_ingredient ON public.user_custom_recipe_ingredients USING btree (ingredient_id);


--
-- Name: idx_custom_recipe_ingredients_recipe; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipe_ingredients_recipe ON public.user_custom_recipe_ingredients USING btree (custom_recipe_id);


--
-- Name: idx_custom_recipe_utensils_recipe; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipe_utensils_recipe ON public.user_custom_recipe_utensils USING btree (custom_recipe_id);


--
-- Name: idx_custom_recipe_utensils_utensil; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipe_utensils_utensil ON public.user_custom_recipe_utensils USING btree (utensil_id);


--
-- Name: idx_custom_recipes_base; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipes_base ON public.user_custom_recipes USING btree (base_recipe_id);


--
-- Name: idx_custom_recipes_folder; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipes_folder ON public.user_custom_recipes USING btree (user_id, folder);


--
-- Name: idx_custom_recipes_modified; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipes_modified ON public.user_custom_recipes USING btree (is_modified);


--
-- Name: idx_custom_recipes_user; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_custom_recipes_user ON public.user_custom_recipes USING btree (user_id);


--
-- Name: idx_email; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_email ON public.users USING btree (email);


--
-- Name: idx_planned_meals_custom_recipe; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_planned_meals_custom_recipe ON public.planned_meals USING btree (custom_recipe_id);


--
-- Name: idx_planned_meals_recipe; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_planned_meals_recipe ON public.planned_meals USING btree (recipe_id);


--
-- Name: idx_planned_meals_user_date; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_planned_meals_user_date ON public.planned_meals USING btree (user_id, meal_date);


--
-- Name: idx_ratings_recipe; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_ratings_recipe ON public.user_rating USING btree (recipe_id);


--
-- Name: idx_ratings_user; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_ratings_user ON public.user_rating USING btree (user_id);


--
-- Name: idx_recipe_ingredients_ingredient; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipe_ingredients_ingredient ON public.recipe_ingredients USING btree (ingredient_id);


--
-- Name: idx_recipe_ingredients_recipe; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipe_ingredients_recipe ON public.recipe_ingredients USING btree (recipe_id);


--
-- Name: idx_recipe_utensils_necessity; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipe_utensils_necessity ON public.recipe_utensils USING btree (necessity_level);


--
-- Name: idx_recipe_utensils_recipe; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipe_utensils_recipe ON public.recipe_utensils USING btree (recipe_id);


--
-- Name: idx_recipe_utensils_utensil; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipe_utensils_utensil ON public.recipe_utensils USING btree (utensil_id);


--
-- Name: idx_recipes_difficulty; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipes_difficulty ON public.recipe USING btree (difficulty);


--
-- Name: idx_recipes_servings; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipes_servings ON public.recipe USING btree (servings);


--
-- Name: idx_recipes_time; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_recipes_time ON public.recipe USING btree (total_time_minutes);


--
-- Name: idx_user_pref_batch; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_user_pref_batch ON public.user_preference USING btree (batch_cooking_enabled);


--
-- Name: idx_user_pref_skill; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_user_pref_skill ON public.user_preference USING btree (cooking_skill_level);


--
-- Name: idx_utensils_category; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_utensils_category ON public.utensils USING btree (category);


--
-- Name: idx_utensils_necessity; Type: INDEX; Schema: public; Owner: dev
--

CREATE INDEX idx_utensils_necessity ON public.utensils USING btree (necessity_level);


--
-- Name: recipe_ingredients fk115hxprua4ai0chlhicwmuhna; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT fk115hxprua4ai0chlhicwmuhna FOREIGN KEY (ingredient_id) REFERENCES public.ingredient(id) ON DELETE CASCADE;


--
-- Name: user_favorite_ingredient fk1cmry63o6ow9xah8kej21h7k2; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_favorite_ingredient
    ADD CONSTRAINT fk1cmry63o6ow9xah8kej21h7k2 FOREIGN KEY (ingredient_id) REFERENCES public.ingredient(id);


--
-- Name: user_cuisine_type fk2veoehdge1v6vcbsafjyagwbl; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_cuisine_type
    ADD CONSTRAINT fk2veoehdge1v6vcbsafjyagwbl FOREIGN KEY (cuisine_type_id) REFERENCES public.cuisine_type(id);


--
-- Name: user_allergen fk3xo3c7psequ4ri5jm8ofb7acm; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_allergen
    ADD CONSTRAINT fk3xo3c7psequ4ri5jm8ofb7acm FOREIGN KEY (user_id) REFERENCES public.user_preference(user_id);


--
-- Name: ingredient_diet_type fk4hh5ehjf1jgbg6ht7odc2g60e; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.ingredient_diet_type
    ADD CONSTRAINT fk4hh5ehjf1jgbg6ht7odc2g60e FOREIGN KEY (ingredient_id) REFERENCES public.ingredient(id);


--
-- Name: user_rating fk617otsod5mxcgai12hf6hgi38; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_rating
    ADD CONSTRAINT fk617otsod5mxcgai12hf6hgi38 FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: user_cuisine_type fk6jkldtca2pib1xi1jncpbbr3q; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_cuisine_type
    ADD CONSTRAINT fk6jkldtca2pib1xi1jncpbbr3q FOREIGN KEY (user_id) REFERENCES public.user_preference(user_id);


--
-- Name: recipe_utensils fk74ax8wpomtcwbpi4glcowxjhf; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_utensils
    ADD CONSTRAINT fk74ax8wpomtcwbpi4glcowxjhf FOREIGN KEY (utensil_id) REFERENCES public.utensils(id) ON DELETE RESTRICT;


--
-- Name: user_custom_recipe_ingredients fk7f7hnb740f38sytfgnm85vdf4; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_ingredients
    ADD CONSTRAINT fk7f7hnb740f38sytfgnm85vdf4 FOREIGN KEY (custom_recipe_id) REFERENCES public.user_custom_recipes(id) ON DELETE CASCADE;


--
-- Name: user_cooking_methods fk7ihkecj5cwkp12nk60bq67jih; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_cooking_methods
    ADD CONSTRAINT fk7ihkecj5cwkp12nk60bq67jih FOREIGN KEY (cooking_method_id) REFERENCES public.cooking_method(id);


--
-- Name: user_rating fk80i3u6gcsphrjinfw38axoxrp; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_rating
    ADD CONSTRAINT fk80i3u6gcsphrjinfw38axoxrp FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_preference fk_user_preferences_user; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_preference
    ADD CONSTRAINT fk_user_preferences_user FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_favorite_ingredient fkadr9wo0tq2brotcnedbxpnc1k; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_favorite_ingredient
    ADD CONSTRAINT fkadr9wo0tq2brotcnedbxpnc1k FOREIGN KEY (user_id) REFERENCES public.user_preference(user_id);


--
-- Name: planned_meals fkdr9nsprbg6fo8a2namt8fsry1; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.planned_meals
    ADD CONSTRAINT fkdr9nsprbg6fo8a2namt8fsry1 FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: user_custom_recipes fkfdsmm4pfhfrk2ig6trajsntdn; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipes
    ADD CONSTRAINT fkfdsmm4pfhfrk2ig6trajsntdn FOREIGN KEY (base_recipe_id) REFERENCES public.recipe(id) ON DELETE SET NULL;


--
-- Name: user_custom_recipe_utensils fkfixs7thyxp9kdsplyoaqy9sbp; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_utensils
    ADD CONSTRAINT fkfixs7thyxp9kdsplyoaqy9sbp FOREIGN KEY (utensil_id) REFERENCES public.utensils(id) ON DELETE RESTRICT;


--
-- Name: recipe_utensils fkfwo3tsfqxxsryerfb82r261bw; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_utensils
    ADD CONSTRAINT fkfwo3tsfqxxsryerfb82r261bw FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: user_custom_recipe_ingredients fkggg5ljd4cqnwefoc9hnr8v2lc; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_ingredients
    ADD CONSTRAINT fkggg5ljd4cqnwefoc9hnr8v2lc FOREIGN KEY (ingredient_id) REFERENCES public.ingredient(id) ON DELETE RESTRICT;


--
-- Name: user_diet_type fkghn3vig5bobh8wbwbqurm913h; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_diet_type
    ADD CONSTRAINT fkghn3vig5bobh8wbwbqurm913h FOREIGN KEY (user_id) REFERENCES public.user_preference(user_id);


--
-- Name: user_disliked_ingredient fkhggdraiybtufoqhc7e70slva2; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_disliked_ingredient
    ADD CONSTRAINT fkhggdraiybtufoqhc7e70slva2 FOREIGN KEY (ingredient_id) REFERENCES public.ingredient(id);


--
-- Name: recipe_ingredients fkhnsmvxdlwxqq6x2wbgnoef5gr; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT fkhnsmvxdlwxqq6x2wbgnoef5gr FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: user_cooking_methods fkj9osyybmowpuvi8ge4psd7g6o; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_cooking_methods
    ADD CONSTRAINT fkj9osyybmowpuvi8ge4psd7g6o FOREIGN KEY (user_id) REFERENCES public.user_preference(user_id);


--
-- Name: planned_meals fkjdrkluiixcmpe32stik4kuk8b; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.planned_meals
    ADD CONSTRAINT fkjdrkluiixcmpe32stik4kuk8b FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recipe fkkonglu0ouqbkb6y5dhu0cmk33; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.recipe
    ADD CONSTRAINT fkkonglu0ouqbkb6y5dhu0cmk33 FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: ingredient_diet_type fklgc65p16507u9hgtfc597nkcl; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.ingredient_diet_type
    ADD CONSTRAINT fklgc65p16507u9hgtfc597nkcl FOREIGN KEY (diet_type_id) REFERENCES public.diet_type(id);


--
-- Name: shopping_lists fkllqvt8eyww5jxnjjun6upx184; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.shopping_lists
    ADD CONSTRAINT fkllqvt8eyww5jxnjjun6upx184 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_diet_type fkmu04x5j7ko4x5cbvy9csrr4g8; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_diet_type
    ADD CONSTRAINT fkmu04x5j7ko4x5cbvy9csrr4g8 FOREIGN KEY (diet_type_id) REFERENCES public.diet_type(id);


--
-- Name: user_custom_recipe_utensils fko1ub9g5rxkyrxvultclj20dsi; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipe_utensils
    ADD CONSTRAINT fko1ub9g5rxkyrxvultclj20dsi FOREIGN KEY (custom_recipe_id) REFERENCES public.user_custom_recipes(id) ON DELETE CASCADE;


--
-- Name: planned_meals fkovkj172mrijmal3cdwke2d9to; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.planned_meals
    ADD CONSTRAINT fkovkj172mrijmal3cdwke2d9to FOREIGN KEY (custom_recipe_id) REFERENCES public.user_custom_recipes(id) ON DELETE CASCADE;


--
-- Name: user_allergen fkqevv01qv3ejvrw3kxatwkg9eq; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_allergen
    ADD CONSTRAINT fkqevv01qv3ejvrw3kxatwkg9eq FOREIGN KEY (allergen_id) REFERENCES public.allergen(id);


--
-- Name: user_disliked_ingredient fkqj1y5w1voygpsw1a5giy0dru3; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_disliked_ingredient
    ADD CONSTRAINT fkqj1y5w1voygpsw1a5giy0dru3 FOREIGN KEY (user_id) REFERENCES public.user_preference(user_id);


--
-- Name: user_custom_recipes fks4tlof7hqbb9m2st6x1os8hlx; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.user_custom_recipes
    ADD CONSTRAINT fks4tlof7hqbb9m2st6x1os8hlx FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict huQJ6OrTf3L2RDHF51DoZH1rffvgl33YhKb9pSMWSAFQPgZmLuZS2ST9cdM0Yfj

