@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #333333;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Masquer la barre de défilement pour les scrolls horizontaux */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: -moz-scrollbars-none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;  /* Chrome, Safari and Opera */
  width: 0 !important;
  height: 0 !important;
}
